*{
    box-sizing: border-box;
}
.container{
    width: 1216px;
    height: auto;
}
.boxtop{
    float: left;
    background-color: #333;
    width: 100%;
    height: 50px; 
}
body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.boxlogo{
    float: left;
    width: 100%;
    border-bottom:1px #ccc solid;
    text-align: center;
    height: 100px;
}
.boxmenu{
    width: 100%;
    float: left;
    height: 50px;
}
article{
    width: 100%;
    min-height: 700px;
    margin: 20px 0px;
    float: left;
    background-color: #eee;
}
.boxtrai{
    width: 50%;
    float: left;
}
.boxtab{
    width: 15%;
    float: left;
    height: 0  auto;
    margin-bottom: 10px;
}
.boxtab img{
    width: 100%;
    height: 100px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 2px solid black;
}
.boxhinhanh{
    width: 80%;
    float: right;
}
.content{
    width: 100%;
    height: 500px;
    float: right;
}
iframe{
    width: 100%;
    height: 700px;
}
.boxphai{
    width: 50%;
    float: right;
    text-align: center;
}
.boxphai img{
   border-radius: 10px  ;
   border: 2px solid black;
}
.kichthuoc{
    float: left;
}
.kichthuoc .huongdansize{
    padding: 10px;
    text-decoration: none;
    color: #ccc;
    margin-left: 120px;
}
.chonkichthuoc{
    position: relative;
    left: 50px;
}
.size{
    float: left;
}
.nut{
    text-align: center;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 10px 20px;
    margin: 3px;
}
.nut:hover{
    border: 2px solid black;
}
.from-button{
    float: left;
    height: 50px;
    width: 523px;
    margin-top: 20px

}
.button1{
    width: 30%;
    float: left;
    left: 50px;
    position: relative;
    padding: 8px 30px;
    border-radius: 20px;
}
.button1:hover{
    background-color: darkgray;
}
.button2{
    width: 30%;
    float: right;
    position: relative;
    right: 50px;
    padding: 8px 30px;
    border-radius: 20px;
}
.button2:hover{
    background-color: pink;
}
.chu{
    float: left;
    height: 50px;
    width: 535px;
    margin-top: 20px
}
aside{
    float: left;
    width: 100%;
    background-color: #ccc;
    margin-top: -25px;
    
}
footer{
    float: left;
    background-color: #333;
    width: 100%;
    min-height: 300px;
}
.boxcenter{
    width: 70%;
    margin: 0  auto;
    
}
.boxtimkiem{
    width: 30%;
    float: right;
    text-align: center;
    
}
.boxtimkiem input{
   position: relative;
   top: -15px;
}
.boxtimkiem img{
    width: 35px;
    margin-top: 10px;
    
}
.boxtoptrai{
    float: left;
    height: 50px;
    line-height: 50px;
    color: white;
}
.boxtopphai{
    float: right;
    height: 50px;
    line-height: 50px;
}
.boxtopphai ul{
    z-index: 1;
    margin: 0;
    padding: 0;
}
.boxtopphai ul li{
    list-style-type: none;
    float: left;
    padding: 0px 20px;
    font-size: 14px;
}
.boxtopphai ul li:hover ul{
    display: block;
    position: absolute;
}
.boxtopphai ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
.boxtopphai ul li ul{
    display: none;
    background-color: #eee;
}
.boxtopphai ul li ul li{
    float: none;
    border-bottom: 1px #333 solid;
    border-left: 1px #333 solid ;
    border-right: 1px #333 solid ;
}
.boxtopphai ul li ul li:first-child{
    border-top: 1px #333 solid;
}
.boxtuongtu{
    width: 85%;
    margin: 0 auto;
}
.sanphamtuongtu>.baodoi{
    text-align: center;
    position: relative;
    top: 15px;
}
.sanphamtuongtu>.boxpro{
        margin: 20px 0;
}
.boxpro{
    width:calc(calc(100% - 70px)/4);
    float: left;
    margin: 0;
    margin-top: 20px;
}
.boxpro a{
    color: #333;
    text-decoration: none;
    margin-right: 10px;
    float: left;

}
.boxpro a:hover{
  color: red;
}
.boximg img{
    width: 100%;
    padding: 3px;
}
.boxmenu ul{
    margin: 0;
    padding: 0;
}
.boxmenu ul li{
    list-style-type: none;
    float: left;
    padding: 15px 20px;
    font-size: 14px;
}
.boxmenu ul li:hover ul{
    display: block;
    position: absolute;
}
.boxmenu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
.boxmenu ul li ul{
    display: none;
    background-color: #eee;
}
.boxmenu ul li ul li{
    float: none;
    border-bottom: 1px #333 solid;
    border-left: 1px #333 solid ;
    border-right: 1px #333 solid ;
}
.boxmenu ul li ul li:first-child{
    border-top: 1px #333 solid;
}
.row{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.boxcenter2{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
.boxfooter1{
    width: 18%;
    float: left;
    margin-right: 2%;
}
.boxfooter2{
    width: 18%;
    float: left;
    margin-left: 2%;
}
.boxfooter3{
    width: 60%;
    float: left;
}
.textcenter{
    text-align: center;
}
.color1{
    color: white;
}
.mgbt10{
    margin-bottom: 10px;
}
.diachi{
    font-size: 11px;
}
.diachi:hover{
    text-decoration: underline;
}
.p{
    font-size: 14px;
}
.banquyen{
    float: left;
    font-size: 12px;
}
.baomat{
    float: right;
    font-size: 12px;
}